.detailsPage {
    display: flex;
    height: 100vh;
}
.detailPage__text {
    flex: 1;
    /* background-color: antiquewhite; */
    /* height: 100vh; */
}
.detailPage__text__description {
    outline: 1px solid green;
}

.detailPage__image {
    display: flex;
    justify-content: center;
    margin: auto ;
    flex: 1;
  
}

.detailPage__image img {
    width: 100%;
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
}
@media (max-width:750px) {
    .detailsPage {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .detailPage__text {
        flex: 1;
        background-color: antiquewhite;
        /* height: 100vh; */
    }
    .detailPage__text h2 {
        text-align: center;
    }
    .detailPage__text ul {
        text-align: center;
        list-style-type: none;
    }
    .detailPage__text li {
        margin-bottom: 10px;;
    }
    .detailPage__text__actions {
        text-align: center;
    }
    .detailPage__text__description {
        outline: none;
    }
    
}
.Spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}