.botonCarro{
  cursor:pointer;
}
.actions__options {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.actions__option {
  border-radius: 8px;
  border: 1px solid blue;
  background-color: blue;
  padding: 20px 20px;
  display: flex;
  flex: 1;
  max-width: 100px;
  justify-content: center;
  color: white;
  cursor: pointer;
  margin-bottom: 40px;
}
.actions__option span {
  color: red;
}

.button__container {
  display: flex;
  align-items: center;
}

.button__container button {
  background-color: red;
  margin-right: 30px;
  color: grey;
  padding: 10px 10px;
  color: black;
}

.visible{
  color:red;
  display: inline;
}

.notVisible {
  color:red;
  display: none;
}