.input{
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 40px;
}

.displayList{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    
}


.listFlexContainer {
    margin-left: 10%;
}
@media (max-width: 800px) {
    
    .displayList{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    
}
@media (max-width: 600px) {
    
        .displayList{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        
    }
}

}